{%extends "base.html"%} {%block content %}
<title>Dashboard</title>
<div class="coins">
  <p>Coins: a few</p>
</div>
<div class="Container">
  <div class="text-center">
    <a href="{{ url_for('link_spotify') }}" class="btn btn-outline-secondary"
      >Link Spotify</a
    >
  </div>
</div>
<div class="Container">
  <div class="text-center">
    <p class="body">my cards</p>
    <a href="{{ url_for('my_cards') }}" class="btn btn-outline-secondary"
      >View</a
    >
  </div>
</div>
<div class="Container">
  <div class="text-center">
    <p class="body">store</p>

    <div class="store-cards">
      {%for pack in store_packs%}
      <div class="card-body">
        <h5 class="card-title">{{ pack.name }}</h5>
        <p class="card-text">Cost: {{ pack.price }}</p>

        <a class="btn btn-primary buy-pack-btn" data-pack-id="{{ pack.Id }}"
          >Buy</a
        >
      </div>

      {% endfor %}
    </div>
  </div>
</div>
<div class="Container">
  <div class="text-center">
    <p class="body">my packs</p>
    <p id="my_packs" class="store-cards"></p>
    <!-- user packs loaded here -->
  </div>
  <div class="text-center">
    <a href="{{ url_for('open_my_packs') }}" class="btn btn-outline-secondary"
      >open your packs here
    </a>
  </div>
</div>
{% endblock %}
